.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h3 {
  font-size: 45px;
  align-items: center;
  text-align: center;
}

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 15px 0px 15px 0px;
  padding: 5px;
  width: 12%;
}

.container {
  justify-content: center;
}

.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Buttons {
  text-align: center;
  margin-bottom: 10px;
}

.custom-field{
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.custom-field input{
  border: none;
  appearance: none;
  background: #f2f2f2;
  padding: 8px 15px;
  width: 185px;
  border-radius: 3px;
  outline: none;
}

.custom-field .placeholder{
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: font-size 0.3s ease, color 0.3s ease, top 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
  top: 10px;
  font-size: 10px;
  color: #222;
}

.Input {

  text-align: center;
}

.inputField {
  margin-right: 5px;
  height: 50%;
}

.inputButton {
  margin-bottom: 10px;
  margin-top: 5px;
}

.img-header{
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
