.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



h3 {
  font-size: 45px;
  align-items: center;
  text-align: center;
}

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 15px 0px 15px 0px;
  padding: 5px;
  width: 12%;
}

.container {
  justify-content: center;
}

.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Buttons {
  text-align: center;
  margin-bottom: 10px;
}

.custom-field{
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.custom-field input{
  border: none;
  appearance: none;
  background: #f2f2f2;
  padding: 8px 15px;
  width: 185px;
  border-radius: 3px;
  outline: none;
}

.custom-field .placeholder{
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: font-size 0.3s ease, color 0.3s ease, top 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
  top: 10px;
  font-size: 10px;
  color: #222;
}

.Input {

  text-align: center;
}

.inputField {
  margin-right: 5px;
  height: 50%;
}

.inputButton {
  margin-bottom: 10px;
  margin-top: 5px;
}

.img-header{
  max-width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* lssdsldsld */

p {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
}
p span {
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
